
<div>
  <h2>{{ list['info']['current _user']}}</h2>
  <h2>{{ list['info']['user_info']['name'] }}</h2>
  <h2>{{ list['info']['user_info']['date'] }}</h2>
</div><br>
<div class="info1">{{ list['info']['all_active'] }}</div>
<div class="info1">{{ list['info']['number_of_user'] }}</div>
<div><h3>{{ list['info']['content'] }}</h3></div>
<div>{{ list['info']['node'] }}</div>
